html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Tourney", sans-serif;
}


#canvas, #canvas2 {
    background-color: black;
    width: 99%;
    height: 99%;
    position: relative;
    z-index: 1;
}

.pocetna {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 10px;
    box-shadow:0 0 60px rgba(82, 6, 35, 0.95);
    z-index: 10;
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.pocetna h1, #dugmestart {
    position: relative;
    z-index: 2;
}

.pocetna h1 {
    font-size: 60px;
    color: rgb(222, 127, 179);
}

#dugmestart {
    padding: 10px 50px;
    color: rgb(105, 25, 69);
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
}

#dugmestart:hover {
    background-color: rgb(64, 40, 183);
    color: rgb(206, 1, 1);
    transform: scale(1.2);
}


.prozor2 {
    display: none;
    width: 800px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 10px;
    box-shadow:0 0 60px rgba(82, 6, 35, 0.95);
    overflow: hidden;
    z-index: 20;
}

#video2 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
    display: none;
}

.prozor2 h2 {
    position: absolute;
    top: 20px;
    left: 40px;
    margin: 0;
    z-index: 4;
    color: rgba(245, 21, 230, 0.685);
    font-size: 25px;
}

.prozor2 h2:hover {
    color: rgb(140, 60, 210);
}

#canvas2 {
    position:absolute;
    width: 800px;
    height: 500px;
    z-index: 3;
}

.loptice {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.boja {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


#poeni {
    position: absolute;
    top: 70px;
    left: 40px;
    z-index: 5;
    color: rgb(99, 79, 207);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 6px 10px rgba(105, 25, 69, 1.0);
}

#dugmepocetak {
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 40px rgba(82, 6, 35, 1.0);
    color: black;
    z-index: 10;
    transition: 0.5s ease;
}

#dugmepocetak:hover {
    background-color: rgb(109, 18, 193);
    color: rgb(234, 0, 255);
    transform: scaleX(1.2);
}


#kontrole {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 100;
}

#darkmode, #sound {
    background-color: rgb(116, 15, 67);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}

#darkmode:hover, #sound:hover {
    box-shadow: 0 0 30px rgba(82, 6, 35, 0.95);
}

body.dark-mode {
    background-color: white;
}

body.dark-mode #canvas, body.dark-mode #canvas2 {
    background-color: white;
    color: black;
}

body.dark-mode #dugmestart:hover {
    background-color: rgb(61, 117, 190);
    color: white;
}


.prozor3, .prozor4 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 5px;
    z-index: 30;
    font-family: "Tourney";
}

.prozor3 {
    background-color: rgb(22, 6, 138);
    color: rgb(238, 255, 0);
    font-size: 30px;
}

.prozor4 {
    background-color: rgb(255, 0, 217);
    color: rgb(238, 255, 0);
    font-size: 30px;
}

.restartdugmad {
    display: flex;
    gap: 10px;
}

#dugmerestart, #dugmepocetak2, #dugmerestart2, #dugmepocetak3 {
    padding: 10px 15px;
    border: none;
    font-family: "Tourney";
    font-size: 20px;
    transition: 0.5s ease;
    color: rgb(215, 127, 12);
    background-color: rgb(29, 129, 166);
}

#dugmerestart:hover, #dugmepocetak2:hover, #dugmerestart2:hover, #dugmepocetak3:hover {
    background-color: rgb(4, 255, 0);
    transform: scale(1.1);
}


#timer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    color: yellow;
    font-size: 25px;
}


#specijalnisat {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 20px;
    z-index: 50;
    color: yellow;
    font-family: "Tourney";
}

#igrabrojac {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    font-family: "Tourney";
}
#igricapoeni {
    font-weight: bold;
}
#brojac {
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
}
